* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.nav {
    width: 960px;
    padding: 10px;
    border-bottom: 1px solid gray
}

.nav__logo{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav__list {
    display: inline-block;
    width: 840px;
    text-align: right;
}



.nav__list-item {

    text-decoration: none;
    text-transform: uppercase;
}

.nav__list-input {
    border-radius: 30px;
}

.content {
    width: 960px;
    margin: 0 auto;
}

.news-list {
    width: 700px;
    float: left;
}

.news {
    width: 210px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.news__img {
    width: 210px;
    height: 300px;
}

.news__paragraph {
    padding: 5px 10px;
}

.aside {
    width: 220px;
    float: right;
}

.us {
    width: 220px;
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;
}

.tags__list {
    padding: 0;
    list-style: none;
}

.tags__list-item {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}

.featured-news {
    margin-bottom: 50px;
}

.featured-news__item-img {
    width: 220px;
    height: 200px;
}


.newsletter {
    width: 960px;
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter__title {
    font-size: 24px
}

.newsletter__form-input,
.newsletter__form-button {
    display: inline-block;
    border-width: 0;
    font-size: 13px;
    padding: 5px 10px;

}

.newsletter__form-button {
    background-color: coral;
    color: white;
}

.footer {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
